.notification__container {
   position: fixed;
   top: 20px;
   right: -100%;
   transition: all 0.3s;

   padding: 20px 20px;
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

   z-index: 100;
   background: #f6eb8b;

   &.active {
      right: 20px;
   }

   .notification__message {
      font-size: 16px;
   }
}
