.medicament__list {
   .medicament__title {
      padding: 8px;
      background-color: #eee;

      font-size: 16px;
      margin-bottom: 10px;
   }
   .medicament__desc {
      padding: 14px 8px;
   }
}
